<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerFragment">
	<div class="lnb">
		<div class="logo">
			<a th:href="@{bdList}"> <span>SpringBoot</span> <span>STUDY</span></a>
		</div>

		<div class="useInfo" th:if="${session.id}">
			<span th:text="${session.userAuth}"></span>
		</div>

		<ul class="nav">
			<th:block>
				<th:block th:if="${session.mbLevel}==3">
					<li><a th:href="@{mbList(page=1)}">맴버정보</a></li>
				</th:block>
				<li><a th:href="@{bdList}">자유게시판</a></li>
				<li><a th:href="@{ImageList}">MBTI 게시판</a></li>
		</ul>
	</div>
</header>
</html>