<head>
<link rel="stylesheet" href="css/Midnighter_Login_Form.css" />
</head>

<div class="row">

  <div class="dark" style="background-image: url('https://s3.amazonaws.com/ardxx/coa1blur.jpg'); background-size:cover; width: 101.5%;">

    <div class="" style="margin-left: auto; margin-right: auto; width: 600px;">

      <div style="color: #fff;  padding-bottom: 90px; border-radius: 5px; font-size: 30px; text-align: center; margin-top: 2%; position: absolute; margin-right: auto; width: 600px; background: #c569fa;">
        <br />

        <div class="row" style="margin-top: 30px !important;">

          <div class="owl">
            <div class="hand"></div>
            <div class="hand hand-r"></div>
            <div class="arms">
              <div class="arm"></div>
              <div class="arm arm-r"></div>
            </div>
          </div>
          <div class="form">
            <div class="control">
              <label for="email" class=""></label>
              <input id="email" placeholder="Email" type="email" />
            </div>
            <div class="control">
              <label for="password" class=""></label>
              <input id="password" placeholder="Password" type="password" />
            </div>

            <button class="btn" type="button"><span style="background: #1486C2; color: #fff;">Log in</span></button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>