<!DOCTYPE html>
<html lang="ko">

    <head>
        
		<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<meta name="csrf-token" content="641fiA2XPBRLJ70KnF15Ks5x00qUxMw885o15OzB">
<meta name="app-version" content="v2.6.56">
<meta name="app-route" content="ko/personality-types">
<meta name="app-bs-uid" content="0">
<meta name="api-token" content="">
<meta name="app-locale" content="ko">


<title>

    
                        성격 유형
        
        | 16Personalities</title>

    
<link rel="icon" type="image/png" href="https://www.16personalities.com/static/images/favicons/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="https://www.16personalities.com/static/images/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="https://www.16personalities.com/static/images/favicons/favicon-16x16.png" sizes="16x16">

<link rel="stylesheet" href="https://www.16personalities.com/build/assets/c3r5bgnvcmu--a0e32f75.css" /><link rel="preload" href="https://www.16personalities.com/build/assets/c3r5bgnvcmu--a0e32f75.css" as="style" /><link rel="stylesheet" href="https://www.16personalities.com/build/assets/c3r5bgxhcmdl--6c1bbf7d.css" media="screen and (min-width: 768px)" />
<link rel="stylesheet" href="https://www.16personalities.com/build/assets/c3r5bgzvbnrz--779365ef.css" /><link rel="preload" href="https://www.16personalities.com/build/assets/c3r5bgzvbnrz--779365ef.css" as="style" />
<link rel="stylesheet" href="https://www.16personalities.com/build/assets/zm9udcvzb21l--be749329.css" /><link rel="preload" href="https://www.16personalities.com/build/assets/zm9udcvzb21l--be749329.css" as="style" />

    <link rel="stylesheet" href="https://www.16personalities.com/build/assets/dhlwzs1saxn0--f6226494.css" /><link rel="preload" href="https://www.16personalities.com/build/assets/dhlwzs1saxn0--f6226494.css" as="style" /><link rel="stylesheet" href="https://www.16personalities.com/build/assets/dhlwzsjnzq--3a2d9536.css" media="screen and (min-width: 768px)" />
            <link rel="stylesheet" href="https://www.16personalities.com/build/assets/bgvnywxlcw--2333e67f.css" /><link rel="stylesheet" href="https://www.16personalities.com/build/assets/bgvnywfyz2u--012a6b7b.css" media="screen and (min-width: 768px)" />
        


<link rel="stylesheet" href="https://www.16personalities.com/build/assets/aw50zxlszxm--e10c012b.css" /><link rel="preload" href="https://www.16personalities.com/build/assets/aw50zxlszxm--e10c012b.css" as="style" /><link rel="stylesheet" href="https://www.16personalities.com/build/assets/aw50zxxhcmdl--805d1b4c.css" media="screen and (min-width: 768px)" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Noto Sans KR + Noto Sans -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Noto+Sans:wght@400;600&display=swap" rel="stylesheet">

<link rel="canonical" href="https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9-%EC%9C%A0%ED%98%95">


    
        <link rel="alternate" hreflang="en" href="https://www.16personalities.com/personality-types">
                    <link rel="alternate" hreflang="ar" href="https://www.16personalities.com/ar/%D8%A3%D9%86%D9%88%D8%A7%D8%B9-%D8%A7%D9%84%D8%B4%D8%AE%D8%B5%D9%8A%D8%A9">
                    <link rel="alternate" hreflang="bg" href="https://www.16personalities.com/bg/%D0%BB%D0%B8%D1%87%D0%BD%D0%BE%D1%81%D1%82%D0%BD%D0%B8-%D1%82%D0%B8%D0%BF%D0%BE%D0%B2%D0%B5">
                    <link rel="alternate" hreflang="zh" href="https://www.16personalities.com/ch/%E7%B1%BB%E5%9E%8B%E6%8F%8F%E8%BF%B0">
                    <link rel="alternate" hreflang="cs" href="https://www.16personalities.com/cs/osobnostni-typy">
                    <link rel="alternate" hreflang="da" href="https://www.16personalities.com/da/personlighedstyper">
                    <link rel="alternate" hreflang="de" href="https://www.16personalities.com/de/personlichkeitstypen">
                    <link rel="alternate" hreflang="et" href="https://www.16personalities.com/ee/isiksuse-t%C3%BC%C3%BCbid">
                    <link rel="alternate" hreflang="es" href="https://www.16personalities.com/es/descripcion-de-los-tipos">
                    <link rel="alternate" hreflang="el" href="https://www.16personalities.com/el/%CF%84%CF%8D%CF%80%CE%BF%CE%B9-%CF%80%CF%81%CE%BF%CF%83%CF%89%CF%80%CE%B9%CE%BA%CF%8C%CF%84%CE%B7%CF%84%CE%B1%CF%82">
                    <link rel="alternate" hreflang="fa" href="https://www.16personalities.com/fa/%D8%A7%D9%86%D9%88%D8%A7%D8%B9-%D8%B4%D8%AE%D8%B5%DB%8C%D8%AA">
                    <link rel="alternate" hreflang="fi" href="https://www.16personalities.com/fi/persoonallisuustyypit">
                    <link rel="alternate" hreflang="fr" href="https://www.16personalities.com/fr/types-de-personnalite">
                    <link rel="alternate" hreflang="he" href="https://www.16personalities.com/he/%D7%98%D7%99%D7%A4%D7%95%D7%A1%D7%99-%D7%90%D7%99%D7%A9%D7%99%D7%95%D7%AA">
                    <link rel="alternate" hreflang="hi" href="https://www.16personalities.com/hi/%E0%A4%B5%E0%A5%8D%E0%A4%AF%E0%A4%95%E0%A5%8D%E0%A4%A4%E0%A4%BF%E0%A4%A4%E0%A5%8D%E0%A4%B5-%E0%A4%AA%E0%A5%8D%E0%A4%B0%E0%A4%95%E0%A4%BE%E0%A4%B0">
                    <link rel="alternate" hreflang="hr" href="https://www.16personalities.com/hr/tipovi-osobnosti">
                    <link rel="alternate" hreflang="hu" href="https://www.16personalities.com/hu/szem%C3%A9lyis%C3%A9gt%C3%ADpusok">
                    <link rel="alternate" hreflang="id" href="https://www.16personalities.com/id/tipe-kepribadian">
                    <link rel="alternate" hreflang="is" href="https://www.16personalities.com/is/pers%C3%B3nuleikager%C3%B0ir">
                    <link rel="alternate" hreflang="it" href="https://www.16personalities.com/it/tipi-di-personalita">
                    <link rel="alternate" hreflang="ja" href="https://www.16personalities.com/ja/%E6%80%A7%E6%A0%BC%E3%82%BF%E3%82%A4%E3%83%97">
                    <link rel="alternate" hreflang="ko" href="https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9-%EC%9C%A0%ED%98%95">
                    <link rel="alternate" hreflang="nl" href="https://www.16personalities.com/nl/persoonlijkheidstypen">
                    <link rel="alternate" hreflang="no" href="https://www.16personalities.com/no/personlighetstyper">
                    <link rel="alternate" hreflang="pl" href="https://www.16personalities.com/pl/typy-osobowosci">
                    <link rel="alternate" hreflang="pt-br" href="https://www.16personalities.com/br/descricoes-dos-tipos">
                    <link rel="alternate" hreflang="ro" href="https://www.16personalities.com/ro/tipuri-de-personalitate">
                    <link rel="alternate" hreflang="ru" href="https://www.16personalities.com/ru/tipy-lichnosti">
                    <link rel="alternate" hreflang="sk" href="https://www.16personalities.com/sk/typy-osobnosti">
                    <link rel="alternate" hreflang="sl" href="https://www.16personalities.com/sl/tipi-osebnosti">
                    <link rel="alternate" hreflang="sr" href="https://www.16personalities.com/sr/tipovi-licnosti">
                    <link rel="alternate" hreflang="sv" href="https://www.16personalities.com/sv/personlighetstyper">
                    <link rel="alternate" hreflang="sw" href="https://www.16personalities.com/sw/aina-za-nafsi">
                    <link rel="alternate" hreflang="th" href="https://www.16personalities.com/th/%E0%B8%9A%E0%B8%B8%E0%B8%84%E0%B8%84%E0%B8%A5%E0%B8%B4%E0%B8%81%E0%B8%A0%E0%B8%B2%E0%B8%9E%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B9%80%E0%B8%A0%E0%B8%97%E0%B8%95%E0%B9%88%E0%B8%B2%E0%B8%87">
                    <link rel="alternate" hreflang="tr" href="https://www.16personalities.com/tr/ki%C5%9Filik-tipleri">
                    <link rel="alternate" hreflang="uk" href="https://www.16personalities.com/uk/typy-osobystosti">
        
    


<script>

    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;

    ga('create', 'UA-27031617-1', 'auto');
    ga('set', 'anonymizeIp', true);

</script>

<script async src='https://www.google-analytics.com/analytics.js'></script>


    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7YT1C03C8C"></script>

    <script>

        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-7YT1C03C8C', { 'anonymize_ip': true });
        // gtag('config', 'AW-735624324');

    </script>



<style>[v-cloak]{display:none !important;}</style>
        
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "ItemList",
            "name": "성격 유형",
            "itemListOrder": "http://schema.org/ItemListUnordered",
            "description": "성격 유형",
            "numberOfItems": 16,
            "itemListElement": [
                                    {
                        "@type": "ListItem",
                        "position": 1,
                        "name": "전략가 (INTJ)",
                        "image": {
                            "@type": "ImageObject",
                            "url": "https://www.16personalities.com/static/images/personality-types/avatars/intj-architect.png"
                        },
                        "url": "https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-intj"
                    },
                                    {
                        "@type": "ListItem",
                        "position": 2,
                        "name": "논리술사 (INTP)",
                        "image": {
                            "@type": "ImageObject",
                            "url": "https://www.16personalities.com/static/images/personality-types/avatars/intp-logician.png"
                        },
                        "url": "https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-intp"
                    },
                                    {
                        "@type": "ListItem",
                        "position": 3,
                        "name": "통솔자 (ENTJ)",
                        "image": {
                            "@type": "ImageObject",
                            "url": "https://www.16personalities.com/static/images/personality-types/avatars/entj-commander.png"
                        },
                        "url": "https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-entj"
                    },
                                    {
                        "@type": "ListItem",
                        "position": 4,
                        "name": "변론가 (ENTP)",
                        "image": {
                            "@type": "ImageObject",
                            "url": "https://www.16personalities.com/static/images/personality-types/avatars/entp-debater.png"
                        },
                        "url": "https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-entp"
                    },
                                    {
                        "@type": "ListItem",
                        "position": 5,
                        "name": "옹호자 (INFJ)",
                        "image": {
                            "@type": "ImageObject",
                            "url": "https://www.16personalities.com/static/images/personality-types/avatars/infj-advocate.png"
                        },
                        "url": "https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-infj"
                    },
                                    {
                        "@type": "ListItem",
                        "position": 6,
                        "name": "중재자 (INFP)",
                        "image": {
                            "@type": "ImageObject",
                            "url": "https://www.16personalities.com/static/images/personality-types/avatars/infp-mediator.png"
                        },
                        "url": "https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-infp"
                    },
                                    {
                        "@type": "ListItem",
                        "position": 7,
                        "name": "선도자 (ENFJ)",
                        "image": {
                            "@type": "ImageObject",
                            "url": "https://www.16personalities.com/static/images/personality-types/avatars/enfj-protagonist.png"
                        },
                        "url": "https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-enfj"
                    },
                                    {
                        "@type": "ListItem",
                        "position": 8,
                        "name": "활동가 (ENFP)",
                        "image": {
                            "@type": "ImageObject",
                            "url": "https://www.16personalities.com/static/images/personality-types/avatars/enfp-campaigner.png"
                        },
                        "url": "https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-enfp"
                    },
                                    {
                        "@type": "ListItem",
                        "position": 9,
                        "name": "현실주의자 (ISTJ)",
                        "image": {
                            "@type": "ImageObject",
                            "url": "https://www.16personalities.com/static/images/personality-types/avatars/istj-logistician.png"
                        },
                        "url": "https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-istj"
                    },
                                    {
                        "@type": "ListItem",
                        "position": 10,
                        "name": "수호자 (ISFJ)",
                        "image": {
                            "@type": "ImageObject",
                            "url": "https://www.16personalities.com/static/images/personality-types/avatars/isfj-defender.png"
                        },
                        "url": "https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-isfj"
                    },
                                    {
                        "@type": "ListItem",
                        "position": 11,
                        "name": "경영자 (ESTJ)",
                        "image": {
                            "@type": "ImageObject",
                            "url": "https://www.16personalities.com/static/images/personality-types/avatars/estj-executive.png"
                        },
                        "url": "https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-estj"
                    },
                                    {
                        "@type": "ListItem",
                        "position": 12,
                        "name": "집정관 (ESFJ)",
                        "image": {
                            "@type": "ImageObject",
                            "url": "https://www.16personalities.com/static/images/personality-types/avatars/esfj-consul.png"
                        },
                        "url": "https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-esfj"
                    },
                                    {
                        "@type": "ListItem",
                        "position": 13,
                        "name": "장인 (ISTP)",
                        "image": {
                            "@type": "ImageObject",
                            "url": "https://www.16personalities.com/static/images/personality-types/avatars/istp-virtuoso.png"
                        },
                        "url": "https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-istp"
                    },
                                    {
                        "@type": "ListItem",
                        "position": 14,
                        "name": "모험가 (ISFP)",
                        "image": {
                            "@type": "ImageObject",
                            "url": "https://www.16personalities.com/static/images/personality-types/avatars/isfp-adventurer.png"
                        },
                        "url": "https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-isfp"
                    },
                                    {
                        "@type": "ListItem",
                        "position": 15,
                        "name": "사업가 (ESTP)",
                        "image": {
                            "@type": "ImageObject",
                            "url": "https://www.16personalities.com/static/images/personality-types/avatars/estp-entrepreneur.png"
                        },
                        "url": "https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-estp"
                    },
                                    {
                        "@type": "ListItem",
                        "position": 16,
                        "name": "연예인 (ESFP)",
                        "image": {
                            "@type": "ImageObject",
                            "url": "https://www.16personalities.com/static/images/personality-types/avatars/esfp-entertainer.png"
                        },
                        "url": "https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-esfp"
                    }
                            ]
        }
</script>

    </head>

    <body role="document" class="">
        <ul class="sr-only">
<li><a href="#skip-content" id="access-main">Skip to main content</a></li>
<li><a href="#skip-search">Skip to search</a></li>
</ul>

        <div class="main-wrapper int ko" id="main-app" v-international="`ko`">

            <div class="navbar sticky  "
     v-sticky-nav="false"
      data-chunk=" ">

    <div class="logo" v-until:nav-logo="true">
        <img src="https://www.16personalities.com/static/images/system/logo.svg" alt="16Personalities">
    </div>
    <app-logo class="logo" v-cloak v-after:nav-logo v-loaded:nav-logo.ready>
        <img src="https://www.16personalities.com/static/images/system/logo.svg" alt="16Personalities">
    </app-logo>

    <nav class="sp-nav__topmiddle middle-section anonymous"  v-until:nav-middle>
            <nav class="sp-nav__topmiddle middle-section international anonymous">
            <ul>
                <li class="">
                    <a href="https://www.16personalities.com/ko/%EB%AC%B4%EB%A3%8C-%EC%84%B1%EA%B2%A9-%EC%9C%A0%ED%98%95-%EA%B2%80%EC%82%AC">성격 유형 검사</a>
                </li>
                <li class="active">
                    <a href="https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9-%EC%9C%A0%ED%98%95">성격 유형  </a>
                </li>
                <li class="">
                    <a href="https://www.16personalities.com/ko/%EC%97%B0%EB%9D%BD%EC%B2%98">문의</a>
                </li>
            </ul>
        </nav>
    </nav>
    <app-nav-top-middle class="middle-section" v-cloak v-after:nav-middle v-loaded:nav-middle.ready></app-nav-top-middle>

    <div class="right-section"  v-until:nav-right>
            <a href="https://www.16personalities.com/languages" class="language-link sp-action sp-link link--icon-lt">

                            <span class="lang--flag">
                    <img src="https://www.16personalities.com/static/images/international/flags/kr.svg">
                </span>
                <span class="lang--full">한국어</span>
            
        </a>
    </div>
    <app-nav-top-right class="right-section" v-cloak v-after:nav-right v-loaded:nav-right.ready></app-nav-top-right>

    <nav-mobile-toggle></nav-mobile-toggle>

</div>

<app-nav-top-mobile v-cloak></app-nav-top-mobile>

            
    <main class="q-tl">

        <div class="hero">
            <h1>성격 유형</h1>
        </div>

        <div class="type-group analysts">

            <svg class="background" viewBox="0 0 1920 155" preserveAspectRatio="none"><polygon class="c1" points="1920 823 0 823 0 0 396 101 835 31 1574 149 1920 17 1920 823"></polygon></svg>

            <h2 id="analysts">분석가형</h2>

            <div class="types">

                <a class="type" href="https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-intj">
                    <img class="image" src="https://www.16personalities.com/static/images/personality-types/avatars/intj-architect.svg" data-animation="architect">
                    <animation
                        animation-file="https://www.16personalities.com/static/animations/avatars/defaults/architect.json"
                        delayed
                        loop="hover"
                        replace-sel="[data-animation=architect]"
                    ></animation>
                    <h4>전략가</h4>
                                            <h5>INTJ-A / INTJ-T</h5>
                                        <div class="snippet">모든 일에 대해 계획을 세우며 상상력이 풍부한 전략가입니다.</div>
                </a>

                <a class="type" href="https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-intp">
                    <img class="image" src="https://www.16personalities.com/static/images/personality-types/avatars/intp-logician.svg" data-animation="logician">
                    <animation
                        animation-file="https://www.16personalities.com/static/animations/avatars/defaults/logician.json"
                        delayed
                        loop="hover"
                        replace-sel="[data-animation=logician]"
                    ></animation>
                    <h4>논리술사</h4>
                                            <h5>INTP-A / INTP-T</h5>
                                        <div class="snippet">지식을 끝없이 갈망하는 혁신적인 발명가입니다.</div>
                </a>

                <a class="type" href="https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-entj">
                    <img class="image" src="https://www.16personalities.com/static/images/personality-types/avatars/entj-commander.svg" data-animation="commander">
                    <animation
                        animation-file="https://www.16personalities.com/static/animations/avatars/defaults/commander.json"
                        delayed
                        loop="hover"
                        replace-sel="[data-animation=commander]"
                    ></animation>
                    <h4>통솔자</h4>
                                            <h5>ENTJ-A / ENTJ-T</h5>
                                        <div class="snippet">항상 문제 해결 방법을 찾아내는 성격으로, 대담하고 상상력이 풍부하며 의지가 강력한 지도자입니다.</div>
                </a>

                <a class="type" href="https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-entp">
                    <img class="image" src="https://www.16personalities.com/static/images/personality-types/avatars/entp-debater.svg" data-animation="debater">
                    <animation
                        animation-file="https://www.16personalities.com/static/animations/avatars/defaults/debater.json"
                        delayed
                        loop="hover"
                        replace-sel="[data-animation=debater]"
                    ></animation>
                    <h4>변론가</h4>
                                            <h5>ENTP-A / ENTP-T</h5>
                                        <div class="snippet">지적 도전을 즐기는 영리하고 호기심이 많은 사색가입니다.</div>
                </a>

            </div>

        </div>

        <div class="type-group diplomats">

            <h2 id="diplomats">외교관형</h2>

            <div class="types">

                <a class="type" href="https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-infj">
                    <img class="image" src="https://www.16personalities.com/static/images/personality-types/avatars/infj-advocate.svg" data-animation="advocate">
                    <animation
                        animation-file="https://www.16personalities.com/static/animations/avatars/defaults/advocate.json"
                        delayed
                        loop="hover"
                        replace-sel="[data-animation=advocate]"
                    ></animation>
                    <h4>옹호자</h4>
                                            <h5>INFJ-A / INFJ-T</h5>
                                        <div class="snippet">차분하고 신비한 분위기를 풍기는 성격으로, 다른 사람에게 의욕을 불어넣는 이상주의자입니다.</div>
                </a>

                <a class="type" href="https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-infp">
                    <img class="image" src="https://www.16personalities.com/static/images/personality-types/avatars/infp-mediator.svg" data-animation="mediator">
                    <animation
                        animation-file="https://www.16personalities.com/static/animations/avatars/defaults/mediator.json"
                        delayed
                        loop="hover"
                        replace-sel="[data-animation=mediator]"
                    ></animation>
                    <h4>중재자</h4>
                                            <h5>INFP-A / INFP-T</h5>
                                        <div class="snippet">항상 선을 행할 준비가 되어 있는 부드럽고 친절한 이타주의자입니다.</div>
                </a>

                <a class="type" href="https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-enfj">
                    <img class="image" src="https://www.16personalities.com/static/images/personality-types/avatars/enfj-protagonist.svg" data-animation="protagonist">
                    <animation
                        animation-file="https://www.16personalities.com/static/animations/avatars/defaults/protagonist.json"
                        delayed
                        loop="hover"
                        replace-sel="[data-animation=protagonist]"
                    ></animation>
                    <h4>선도자</h4>
                                            <h5>ENFJ-A / ENFJ-T</h5>
                                        <div class="snippet">청중을 사로잡고 의욕을 불어넣는 카리스마 넘치는 지도자입니다.</div>
                </a>

                <a class="type" href="https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-enfp">
                    <img class="image" src="https://www.16personalities.com/static/images/personality-types/avatars/enfp-campaigner.svg" data-animation="campaigner">
                    <animation
                        animation-file="https://www.16personalities.com/static/animations/avatars/defaults/campaigner.json"
                        delayed
                        loop="hover"
                        replace-sel="[data-animation=campaigner]"
                    ></animation>
                    <h4>활동가</h4>
                                            <h5>ENFP-A / ENFP-T</h5>
                                        <div class="snippet">열정적이고 창의적인 성격으로, 긍정적으로 삶을 바라보는 사교적이면서도 자유로운 영혼입니다.</div>
                </a>

            </div>

        </div>

        <div class="type-group sentinels">

            <h2 id="sentinels">관리자형</h2>

            <div class="types">

                <a class="type" href="https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-istj">
                    <img class="image" src="https://www.16personalities.com/static/images/personality-types/avatars/istj-logistician.svg" data-animation="logistician">
                    <animation
                        animation-file="https://www.16personalities.com/static/animations/avatars/defaults/logistician.json"
                        delayed
                        loop="hover"
                        replace-sel="[data-animation=logistician]"
                    ></animation>
                    <h4>현실주의자</h4>
                                            <h5>ISTJ-A / ISTJ-T</h5>
                                        <div class="snippet">사실을 중시하는 믿음직한 현실주의자입니다.</div>
                </a>

                <a class="type" href="https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-isfj">
                    <img class="image" src="https://www.16personalities.com/static/images/personality-types/avatars/isfj-defender.svg" data-animation="defender">
                    <animation
                        animation-file="https://www.16personalities.com/static/animations/avatars/defaults/defender.json"
                        delayed
                        loop="hover"
                        replace-sel="[data-animation=defender]"
                    ></animation>
                    <h4>수호자</h4>
                                            <h5>ISFJ-A / ISFJ-T</h5>
                                        <div class="snippet">주변 사람을 보호할 준비가 되어 있는 헌신적이고 따뜻한 수호자입니다.</div>
                </a>

                <a class="type" href="https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-estj">
                    <img class="image" src="https://www.16personalities.com/static/images/personality-types/avatars/estj-executive.svg" data-animation="executive">
                    <animation
                        animation-file="https://www.16personalities.com/static/animations/avatars/defaults/executive.json"
                        delayed
                        loop="hover"
                        replace-sel="[data-animation=executive]"
                    ></animation>
                    <h4>경영자</h4>
                                            <h5>ESTJ-A / ESTJ-T</h5>
                                        <div class="snippet">사물과 사람을 관리하는 데 뛰어난 능력을 지닌 경영자입니다.</div>
                </a>

                <a class="type" href="https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-esfj">
                    <img class="image" src="https://www.16personalities.com/static/images/personality-types/avatars/esfj-consul.svg" data-animation="consul">
                    <animation
                        animation-file="https://www.16personalities.com/static/animations/avatars/defaults/consul.json"
                        delayed
                        loop="hover"
                        replace-sel="[data-animation=consul]"
                    ></animation>
                    <h4>집정관</h4>
                                            <h5>ESFJ-A / ESFJ-T</h5>
                                        <div class="snippet">배려심이 넘치고 항상 다른 사람을 도울 준비가 되어 있는 성격으로, 인기가 많고 사교성 높은 마당발입니다.</div>
                </a>

            </div>

        </div>

        <div class="type-group explorers">

            <h2 id="explorers">탐험가형</h2>

            <div class="types">

                <a class="type" href="https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-istp">
                    <img class="image" src="https://www.16personalities.com/static/images/personality-types/avatars/istp-virtuoso.svg" data-animation="virtuoso">
                    <animation
                        animation-file="https://www.16personalities.com/static/animations/avatars/defaults/virtuoso.json"
                        delayed
                        loop="hover"
                        replace-sel="[data-animation=virtuoso]"
                    ></animation>
                    <h4>장인</h4>
                                            <h5>ISTP-A / ISTP-T</h5>
                                        <div class="snippet">대담하면서도 현실적인 성격으로, 모든 종류의 도구를 자유자재로 다루는 장인입니다.</div>
                </a>

                <a class="type" href="https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-isfp">
                    <img class="image" src="https://www.16personalities.com/static/images/personality-types/avatars/isfp-adventurer.svg" data-animation="adventurer">
                    <animation
                        animation-file="https://www.16personalities.com/static/animations/avatars/defaults/adventurer.json"
                        delayed
                        loop="hover"
                        replace-sel="[data-animation=adventurer]"
                    ></animation>
                    <h4>모험가</h4>
                                            <h5>ISFP-A / ISFP-T</h5>
                                        <div class="snippet">항상 새로운 경험을 추구하는 유연하고 매력 넘치는 예술가입니다.</div>
                </a>

                <a class="type" href="https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-estp">
                    <img class="image" src="https://www.16personalities.com/static/images/personality-types/avatars/estp-entrepreneur.svg" data-animation="entrepreneur">
                    <animation
                        animation-file="https://www.16personalities.com/static/animations/avatars/defaults/entrepreneur.json"
                        delayed
                        loop="hover"
                        replace-sel="[data-animation=entrepreneur]"
                    ></animation>
                    <h4>사업가</h4>
                                            <h5>ESTP-A / ESTP-T</h5>
                                        <div class="snippet">위험을 기꺼이 감수하는 성격으로, 영리하고 에너지 넘치며 관찰력이 뛰어난 사업가입니다.</div>
                </a>

                <a class="type" href="https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-esfp">
                    <img class="image" src="https://www.16personalities.com/static/images/personality-types/avatars/esfp-entertainer.svg" data-animation="entertainer">
                    <animation
                        animation-file="https://www.16personalities.com/static/animations/avatars/defaults/entertainer.json"
                        delayed
                        loop="hover"
                        replace-sel="[data-animation=entertainer]"
                    ></animation>
                    <h4>연예인</h4>
                                            <h5>ESFP-A / ESFP-T</h5>
                                        <div class="snippet">즉흥적이고 넘치는 에너지와 열정으로 주변 사람을 즐겁게 하는 연예인입니다.</div>
                </a>

            </div>

        </div>

    </main>


            <div class="push"></div>

            
            
            <share-highlighter></share-highlighter>
    
    <div class="modal__container">
        
                    <search-modal action="https://www.16personalities.com/search"></search-modal>
        
        
            
                <auth-login-modal data-chunk="guest-chunk"></auth-login-modal>
                <auth-modal-forgot-password data-chunk="guest-chunk"></auth-modal-forgot-password>

                
            
        
        <app-errors></app-errors>

        <div id="portal--modal"></div>
        <div id="portal--modalbg"></div>
    </div>
    <div class="scrollbar-measure"></div>

                    <footer id="footer" class="footer--vue                 international
            ">

    <div class="footer__copyright">
        ©2011-2023 NERIS Analytics Limited
    </div>
    <nav class="footer__links">
        <a class="link--inline" href="https://www.16personalities.com/contact-us">Contact</a>
        <a class="link--inline hide--checkout" href="https://www.16personalities.com/orders/testimonials">Testimonials</a>
        <a class="link--inline" href="https://www.16personalities.com/terms">Terms & Conditions</a>
        <a class="link--inline last--checkout" href="https://www.16personalities.com/terms/privacy">Privacy Policy</a>
        <a class="link--inline hide--checkout" href="https://www.16personalities.com/tools/teams">For Teams</a>
        <a class="link--inline hide--checkout" href="https://www.16personalities.com/join-us">Join Us!</a>
    </nav>
    <el-footer-social></el-footer-social>

    <!-- version v2.6.56 -->

                    <div class="translation-alert">
                    <strong>Disclaimer</strong>: All non-English versions of the website contain automated translations or translations submitted by our users. They are not binding in any way, are not guaranteed to be accurate, and have no legal effect. The official text is the <a class="link--inline" href="/">English version</a> of the website. Please consider reporting inaccuracies to <a class="link--inline" href="mailto:support@16personalities.com">support@16personalities.com</a> or join our <a class="link--inline" href="https://www.16personalities.com/translations">translation project</a>!
                </div>
            
</footer>

<div class="svg-icons">
    <svg id="spin-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M460.115 373.846l-6.941-4.008c-5.546-3.202-7.564-10.177-4.661-15.886 32.971-64.838 31.167-142.731-5.415-205.954-36.504-63.356-103.118-103.876-175.8-107.701C260.952 39.963 256 34.676 256 28.321v-8.012c0-6.904 5.808-12.337 12.703-11.982 83.552 4.306 160.157 50.861 202.106 123.67 42.069 72.703 44.083 162.322 6.034 236.838-3.14 6.149-10.75 8.462-16.728 5.011z"></path></svg>
</div>

        </div>

        <script type="module" src="https://www.16personalities.com/build/assets/app.23935c85.js" async></script><script type="module" src="https://www.16personalities.com/build/assets/app.23935c85.js" rel="preload" as="script"></script>

        <script type="text/javascript">setTimeout(function(){var s = document.createElement('link');s.rel='stylesheet';s.href='https://www.16personalities.com/build/assets/chjpbnjpbnq--193a3c34.css';s.type='text/css';s.media='print';document.head.appendChild(s);},5000);</script>
            <script>

    
        ga('send', 'pageview', {
            'dimension5' : 'anonymous',
            'dimension11': 'ko'
        });

    
    gtag('set', 'user_properties', {
        locale    : 'ko',
        authStatus: 'anonymous',
        userId    : '',
        cookieId  : '',
    });

</script>

    </body>
</html>
